*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 65.2%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Odor Mean Chey';
  src: url("../fonts/OdorMeanChey-Regular.ttf");
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: #f1bd47;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  line-height: 2rem;
  font-weight: 700;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn--big {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
}

.btn--bordered {
  border: .2rem solid black;
}

.btn--cta {
  text-transform: uppercase;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
}

.btn--cta:hover {
  -webkit-transform: none;
          transform: none;
  background-color: white;
}

.btn--reverse {
  background: white;
}

.btn--reverse:hover {
  background-color: black;
  color: white;
}

.hamburger__toggler {
  display: none;
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line {
  opacity: 0;
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line:first-of-type {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0, 1rem);
          transform: rotate(45deg) translate(0, 1rem);
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line:last-of-type {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1rem);
          transform: rotate(-45deg) translate(0, -1rem);
}

.hamburger__toggler:checked ~ .header__nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburger__line {
  padding: .2rem 1.2rem;
  background-color: white;
  border-radius: .2rem;
  -webkit-margin-after: .3rem;
          margin-block-end: .3rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
  font-size: 1.4rem;
}

.header-card__icon {
  color: #f1bd47;
  font-size: 3rem;
  margin: 0 1rem 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  list-style: none;
  margin: 1rem 0 0;
}

.nav li {
  display: block;
}

.nav__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  background-color: #f1bd47;
  color: black;
  border-bottom: 0.1rem solid #c4c4c4;
  padding: 1rem 3rem;
  font-weight: 700;
  font-family: Lato, sans-serif;
}

.nav__link:hover {
  background-color: #f1bd47;
  color: black;
}

.nav__link--active, .nav__link--active:hover {
  color: #f1bd47;
  background-color: black;
}

@media screen and (min-width: 1200px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: black;
  }
  .nav li {
    display: block;
  }
  .nav li:first-of-type .nav__link {
    padding: 1.7rem 3rem 1.7rem 0;
  }
  .nav li:first-of-type .nav__link:hover, .nav li:first-of-type .nav__link--active {
    background-color: black;
    color: #f1bd47;
  }
  .nav__link {
    background-color: transparent;
    color: white;
    padding: 1.7rem 3rem;
    border: none;
  }
  .nav__link:hover {
    background-color: #f1bd47;
    color: black;
  }
  .nav__link--active, .nav__link--active:hover {
    color: #f1bd47;
    background-color: transparent;
  }
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  position: absolute;
  top: auto;
  right: -50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown:hover .dropdown__toggler {
  background-color: #f1bd47;
  color: black;
}

.dropdown:hover .dropdown__arrow {
  border-top-color: black;
}

.dropdown__menu {
  display: none;
}

.dropdown__link {
  display: block;
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  background-color: white;
  color: #666666;
  font-weight: 700;
  font-family: Lato, sans-serif;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.dropdown__link:hover {
  background-color: #6b6b6b;
  color: white;
}

.dropdown__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__toggler:hover .dropdown__arrow {
  border-top-color: black;
}

.dropdown__arrow {
  margin: .5rem 1rem 0;
  display: block;
  width: .5rem;
  height: .5rem;
  border: .5rem solid transparent;
  border-top: .5rem solid black;
}

@media screen and (min-width: 1200px) {
  .dropdown__arrow {
    border-top-color: white;
  }
}

.jumbotron {
  color: white;
  padding: 5rem 2rem;
  min-height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/Untitled-design-4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/Untitled-design-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.jumbotron__img {
  width: 80%;
  height: auto;
  display: block;
  margin: 2rem auto 0;
}

.jumbotron__heading {
  font-family: 'Odor Mean Chey', serif;
  font-size: 4rem;
  line-height: 1.2;
}

.jumbotron .btn {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    padding: 5rem 6rem;
    height: 100vh;
  }
  .jumbotron__img {
    width: 100%;
    height: 100%;
  }
  .jumbotron__heading {
    font-size: 5rem;
    line-height: 1.1;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 0.1rem solid #001c31;
  padding: 2rem 3rem;
  height: 95%;
}

.card--with-img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .5rem;
  border: none;
  padding: 1rem;
  background-color: #f7f7f7;
}

.card--with-img .card__heading {
  opacity: .8;
  color: #001c31;
  font-family: Lora, sans-serif;
  margin: 1rem 0 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.card__img {
  border-radius: .5rem;
  width: 100%;
  height: auto;
}

.card__heading {
  color: #f1bd47;
  font-family: 'Odor Mean Chey', serif;
  margin: 0 0 1rem;
}

.card__icon {
  margin: 1rem 2rem 0 0;
  color: #5e5e5e;
}

.card__icon::before {
  font-size: 4rem;
}

.card__paragraph {
  color: #5e5e5e;
}

.header {
  z-index: 3;
  background-color: black;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  width: 80%;
  height: auto;
}

.header__desktop-only {
  display: none;
}

.header__nav {
  z-index: 2;
  position: fixed;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: translateY(-100rem);
          transform: translateY(-100rem);
  top: 5rem;
  right: 0;
  left: 0;
}

.header__search-icon {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header {
    display: block;
    padding: 1rem 6rem 0;
  }
  .header__nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: auto;
    right: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__logo {
    width: 30%;
  }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__desktop-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__search-icon {
    display: block;
  }
}

.footer {
  padding: 2rem;
  background-image: url("../img/footer-bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Lato, sans-serif;
}

.footer .header-card {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.footer .header-cards {
  padding: 2rem 0 0;
  border-bottom: .2rem solid white;
}

.footer__heading {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.footer__link {
  list-style: none;
  display: block;
  color: white;
  opacity: .8;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.footer__link:hover {
  color: #f1bd47;
}

.footer__links {
  list-style: none;
}

.footer .nav {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.footer .nav__link {
  background-color: transparent;
  color: #b3b3b3;
  padding: 1rem .5rem;
  border-color: currentColor;
  font-size: 1.4rem;
}

.footer .dropdown__arrow {
  border-top-color: white;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 4rem 6rem;
  }
  .footer img {
    width: 100%;
    height: auto;
  }
  .footer .header-card {
    padding: 2rem 4rem;
    margin: 0;
  }
  .footer .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
  }
  .footer .nav__link {
    background-color: transparent;
  }
  .footer .nav__link:hover {
    color: #f1bd47;
  }
  .footer .nav__link--active {
    background-color: transparent;
  }
  .footer .dropdown__toggler:hover {
    color: black;
  }
}

.section {
  padding: 5rem 2rem;
}

.section--center {
  text-align: center;
}

.section__heading {
  font-family: 'Odor Mean Chey', serif;
  font-size: 4rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.section__heading--lato {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.section__heading--lato b {
  color: #f1bd47;
}

.section__img {
  width: 100%;
  height: auto;
}

.section__paragraph {
  font-size: 2rem;
}

.section__paragraph--border {
  border: 1rem solid #001c31;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 10rem 6rem;
  }
}

.wrapper {
  background-color: #f1bd47;
  padding: 2rem 3rem;
  text-align: center;
}

.wrapper__heading {
  font-size: 2rem;
  font-family: Lato, sans-serif;
  font-weight: 500;
}

.wrapper__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 3rem 6rem;
  }
  .wrapper__btn {
    padding: 2rem 4rem;
  }
  .wrapper__heading {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */