.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: $color-yellow;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  line-height: 2rem;
  font-weight: 700;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &--cta {
    text-transform: uppercase;
    margin-inline-start: 2rem;

    &:hover {
      transform: none;
      background-color: white;
    }
  }

  &--reverse {
    background: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}