.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: $color-yellow;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  line-height: 2rem;
  font-weight: 700;
  transition: 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &--big {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
  }

  &--bordered {
    border: .2rem solid black;
  }

  &--cta {
    text-transform: uppercase;
    margin-inline-start: 2rem;

    &:hover {
      transform: none;
      background-color: white;
    }
  }

  &--black {
    background-color: black;
    color: white;
    border: none;
    padding: 1.5rem 7rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    border-radius: .5rem;
  }

  &--reverse {
    background: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}