.hamburger {
  &__toggler { 
    display: none;
    
    &:checked {
      & ~ .hamburger .hamburger__line {
        opacity: 0;

        &:first-of-type {
          opacity: 1;
          transform: rotate(45deg) translate(0, 1rem);
        }

        &:last-of-type {
          opacity: 1;
          transform: rotate(-45deg) translate(0, -1rem);
        }
      }

      & ~ .header__nav {
        transform: translateY(0);
      }
    }
  }
  &__line {
    padding: .2rem 1.2rem;
    background-color: white;
    border-radius: .2rem;
    margin-block-end: .3rem;
    transition: 300ms ease-in-out;
    transform-origin: center;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {display: none;}
}